**First Data Source**

**Loading** CSV file of Charlottesville current real estate assessments from local file

In [27]:
# Import necessary dependencies
import pandas as pd
import sqlite3
import os

local_file = "Real_Estate_(Current_Assessments).csv"

# Check if the file exists
if not os.path.isfile(local_file):
    print("The specified file does not exist.")
else:
    # Load the CSV into a DataFrame
    estate_df = pd.read_csv(local_file)
    print("Data loaded into DataFrame successfully.")

    # Print the first few rows
    print(estate_df.head())

Data loaded into DataFrame successfully.
  ParcelNumber  CurrentAssessedValue  OBJECTID st_number      st_name st_unit  \
0    010001600             123617500  50437660       600    MASSIE RD     NaN
1    010001200               1721100  50437661      1159  MILLMONT ST     NaN
2    010001500               2146000  50437662      1149  MILLMONT ST     NaN
3    010001000             166481200  50437663      1117   EMMET ST N     NaN
4    010001300               1218100  50437664   1135-37  MILLMONT ST     NaN

                                   LEGALDESCR      LOTSQFT
0                            80 AC JAG SCHOOL  3516163.200
1                            LOT C-1 WEST BAR    25264.800
2                           LOT C-2A WEST BAR    39944.520
3  39.832 ACRES BARRACKS ROAD SHOPPING CENTER  1937043.504
4                           LOT C-2B WEST BAR    17816.040

Number of rows and columns in dataframe

In [31]:
# Get the number of rows and columns
num_rows, num_columns = estate_df.shape

# Print the results
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 15671
Number of columns: 8

Remove the st_unit column from the dataframe

In [33]:
estate_df = estate_df.drop(columns=['st_unit'])
print("'st_unit' column has been removed.")

'st_unit' column has been removed.

New number of rows and columns of the dataframe

In [34]:
# Get the number of rows and columns
num_rows, num_columns = estate_df.shape

# Print the results
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 15671
Number of columns: 7

**Convert** and locally **Store** the dataframe into any CSV,JSON, or SQL

In [29]:
# Input for the output format
output_format = input("Enter the output format (CSV/JSON/SQL): ").strip().lower()

# Based on the input, perform the appropriate action
if output_format == 'csv':
    filename = input("Enter the filename to save (with .csv extension): ")
    estate_df.to_csv(filename, index=False)
    print(f"DataFrame saved to {filename} as CSV.")

elif output_format == 'json':
    filename = input("Enter the filename to save (with .json extension): ")
    estate_df.to_json(filename, orient='records', lines=True)
    print(f"DataFrame saved to {filename} as JSON.")

elif output_format == 'sql':
    db_file = input("Enter the SQLite database file path: ")
    table_name = input("Enter the table name: ")
    with sqlite3.connect(db_file) as conn:
        estate_df.to_sql(table_name, con=conn, if_exists='replace', index=False)
    print(f"DataFrame saved to SQLite table '{table_name}' in database '{db_file}'.")

else:
    print("Invalid format. Please enter CSV, JSON, or SQL.")

Enter the output format (CSV/JSON/SQL): SQL
Enter the SQLite database file path: estatesss
Enter the table name: real_estate
DataFrame saved to SQLite table 'real_estate' in database 'estatesss'.

**Second Data Source**

**Loading** json file of pokemon data from local file

In [24]:
import pandas as pd
import json
import sqlite3
import os

if os.path.isfile(json_file):
    with open(json_file, 'r') as f:  # Open the file
        pokemon_data = json.load(f)  # Load JSON data

    # Convert the loaded JSON data into a Pandas DataFrame
    df = pd.DataFrame(pokemon_data)

    # Display the first few rows of the DataFrame
    print("Data loaded successfully:")
else:
    print(f"Error: The file '{json_file}' does not exist.")

# Convert to pandas dataframe
pokemon_df = pd.DataFrame(pokemon_data)
pokemon_df.head()

Data loaded successfully:

,name,id,imageurl,xdescription,ydescription,height,category,weight,typeofpokemon,weaknesses,evolutions,abilities
0,Bulbasaur,#001,https://assets.pokemon.com/assets/cms2/img/pok...,Bulbasaur can be seen napping in bright sunlig...,Bulbasaur can be seen napping in bright sunlig...,"2' 04""",Seed,15.2 lbs,"[Grass, Poison]","[Fire, Flying, Ice, Psychic]","[#001, #002, #003]",[Overgrow]
1,Ivysaur,#002,https://assets.pokemon.com/assets/cms2/img/pok...,There is a bud on this Pokémon's back. To supp...,There is a bud on this Pokémon's back. To supp...,"3' 03""",Seed,28.7 lbs,"[Grass, Poison]","[Fire, Flying, Ice, Psychic]","[#001, #002, #003]",[Overgrow]
2,Venusaur,#003,https://assets.pokemon.com/assets/cms2/img/pok...,There is a large flower on Venusaur's back. Th...,There is a large flower on Venusaur's back. Th...,"6' 07""",Seed,220.5 lbs,"[Grass, Poison]","[Fire, Flying, Ice, Psychic]","[#001, #002, #003]",[Overgrow]
3,Charmander,#004,https://assets.pokemon.com/assets/cms2/img/pok...,The flame that burns at the tip of its tail is...,The flame that burns at the tip of its tail is...,"2' 00""",Lizard,18.7 lbs,[Fire],"[Ground, Rock, Water]","[#004, #005, #006]",[Blaze]
4,Charmeleon,#005,https://assets.pokemon.com/assets/cms2/img/pok...,Charmeleon mercilessly destroys its foes using...,Charmeleon mercilessly destroys its foes using...,"3' 07""",Flame,41.9 lbs,[Fire],"[Ground, Rock, Water]","[#004, #005, #006]",[Blaze]

Number of rows and columns in dataframe

In [35]:
# Get the number of rows and columns
num_rows, num_columns = pokemon_df.shape

# Print the results
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 808
Number of columns: 12

Removing imageurl column

In [36]:
pokemon_df = pokemon_df.drop(columns=['imageurl'])
print("'imageurl' column has been removed.")

'imageurl' column has been removed.

New number of rows and columns

In [37]:
# Get the number of rows and columns
num_rows, num_columns = pokemon_df.shape

# Print the results
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 808
Number of columns: 11

**Convert** and locally **Store** the dataframe into any CSV,JSON, or SQL

In [38]:
# Input for the output format
output_format = input("Enter the output format (CSV/JSON/SQL): ").strip().lower()

# Based on the input, perform the appropriate action
if output_format == 'csv':
    filename = input("Enter the filename to save (with .csv extension): ")
    pokemon_df.to_csv(filename, index=False)
    print(f"DataFrame saved to {filename} as CSV.")

elif output_format == 'json':
    filename = input("Enter the filename to save (with .json extension): ")
    pokemon_df.to_json(filename, orient='records', lines=True)
    print(f"DataFrame saved to {filename} as JSON.")

elif output_format == 'sql':
    db_file = input("Enter the SQLite database file path: ")
    table_name = input("Enter the table name: ")
    with sqlite3.connect(db_file) as conn:
        pokemon_df.to_sql(table_name, con=conn, if_exists='replace', index=False)
    print(f"DataFrame saved to SQLite table '{table_name}' in database '{db_file}'.")

else:
    print("Invalid format. Please enter CSV, JSON, or SQL.")

Enter the output format (CSV/JSON/SQL): CSV
Enter the filename to save (with .csv extension): pokemon
DataFrame saved to pokemon as CSV.